<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmailSerivce.Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EmailSerivce.Application.Properties.Settings>
            <setting name="senderMail" serializeAs="String">
                <value>vasily_pavlov_98@mail.ru</value>
            </setting>
        </EmailSerivce.Application.Properties.Settings>
    </userSettings>
	<appSettings>
		<add key="API_PORT" value="5002" />
		<add key="IP_SERVER" value="127.0.0.1" />
		<add key="Path_Log" value="D:\Projects\stels.pushfcm\Log\PushService-.log" />
	</appSettings>
</configuration>